@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Scrollbar Styles */
.chat-scrollbar-container>div::-webkit-scrollbar {
  width: 5px;
}

.chat-scrollbar-container>div::-webkit-scrollbar-track {
  background: transparent;
}

.chat-scrollbar-container>div::-webkit-scrollbar-thumb {
  background-color: var(--chat-scrollbar-color, #000000);
  border-radius: 5px;
}

/* Utility to hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Utility to make scrollbar thin and transparent */
.thin-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.thin-scrollbar:hover::-webkit-scrollbar-thumb,
.thin-scrollbar.scrolling::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.5);
  /* Gray-400 with opacity */
}

.thin-scrollbar:hover::-webkit-scrollbar-thumb:hover,
.thin-scrollbar.scrolling::-webkit-scrollbar-thumb:hover {
  background-color: rgba(156, 163, 175, 0.8);
}